<div class="actions">
	<div class="actions__top">
		<div class="btn-group" *ngIf="todosCount > 0">
			<button 
				class="btn btn-default" 
				*ngIf="todosCountOfNotCompleted > 1"
				(click)="markAllTodosAs(TodoService.todosStatus[1])">Mark all as completed</button>

			<button 
				class="btn btn-default" 
				*ngIf="todosCountOfNotCompleted < 1"
				(click)="markAllTodosAs(TodoService.todosStatus[0])">Mark all as active</button>
		</div>
	</div>

	<div class="actions__bottom">
		<span>Show todos:</span>

		<div class="btn-group">
			<a 
				[routerLink]="['Todos']"
				[class.active]="!filterByTodosStatus"
				class="btn btn-default">All</a>
			<a 
				[routerLink]="['Todos', {todoStatus: TodoService.todosStatus[0]}]"
				[class.active]="filterByTodosStatus === TodoService.todosStatus[0]"
				class="btn btn-default">Active</a>
			<a
				[routerLink]="['Todos', {todoStatus: TodoService.todosStatus[1]}]"
				[class.active]="filterByTodosStatus === TodoService.todosStatus[1]"
				class="btn btn-default">Completed</a>
		</div>
	</div>
</div>