<todo-add></todo-add>

<div class="well">
	<h3>List of todos ({{todosCount}})</h3>

	<todo-search 
		(searchTermUpdate)="searchTerm = $event"></todo-search>

	<todo-list 
		(todosCountUpdate)="todosCount = $event"
		(todosCountOfNotCompletedUpdate)="todosCountOfNotCompleted = $event"
		[searchTerm]="searchTerm"
		[filterByTodosStatus]="filterByTodosStatus"
		[onMarkAllTodosAs]="onMarkAllTodosAs"></todo-list>

	<todo-actions
		[todosCount]="todosCount"
		[todosCountOfNotCompleted]="todosCountOfNotCompleted"
		[filterByTodosStatus]="filterByTodosStatus"
		(onMarkAllTodosAs)="onMarkAllTodosAs = $event"></todo-actions>
</div>