<todo-add
	(onAddTodo)="onAddTodo = $event"></todo-add>

<div class="well">
	<h3>List of todos ({{todosCount}})</h3>

	<todo-search *ngIf="todosCount > 0"
		(filterValueTodoTitleUpdate)="filterValueTodoTitle = $event"></todo-search>

	<todo-list [class.hide]="todosCount === 0"
		(todosCountUpdate)="todosCount = $event"
		(todosCountOfNotCompletedUpdate)="todosCountOfNotCompleted = $event"
		[searchTerm]="searchTerm"
		[filterValueTodosStatus]="filterValueTodosStatus"
		[onMarkAllTodosAs]="onMarkAllTodosAs"
		[onAddTodo]="onAddTodo"></todo-list>

	<todo-actions
		[todosCount]="todosCount"
		[todosCountOfNotCompleted]="todosCountOfNotCompleted"
		[filterValueTodosStatus]="filterValueTodosStatus"
		(onMarkAllTodosAs)="onMarkAllTodosAs = $event"></todo-actions>
</div>