<h3>Add task to list</h3>

<form class="row" action="#" method="post" #todoForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="col-sm-9">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Task name" required [(ngModel)]="formData.title" ngControl="title" #title="ngForm">
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <button class="btn btn-block btn-success" [disabled]="!todoForm.form.valid">Add</button>
    </div>
  </div>
</form>
